<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원관리</title>
</head>
<body>
    <div id="app"></div>
    <!-- -멤버서비스(CRUD) -->
    <div class="member-wrap">
        <!-- 회원가입 -->
        <div class="signup-wrap">

        </div>
        <!-- 로그인 -->
          <div class="signin-wrap">

        </div>
         <!-- 정보수정 -->
          <div class="modify-wrap">

        </div>
          <!-- 회원탈퇴 -->
           <div class="account-termination-wrap">

        </div>

          <!-- 비행기 예약(CRUD) -->
           <div class="reserv-wrap"></div>
           <!-- 예약 -->
            <!-- 조회 -->
             <!-- 수정 -->
              <!-- 취소 -->

    </div>
    
</body>
</html>