/* COMMON START */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #242424;
}

a:hover {
    text-decoration: underline;
}

input {
    width: 300px;
    padding: 10px;
    margin: 1px;
    border: 1px solid #dadada;
    border-radius: 3px;
    outline: none;
}

input:focus {
    background-color: rgba(170, 221, 241, .4);
}

button {
    padding: 10px 20px;
    margin: 1px;
    border: 1px solid #dadada;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    box-shadow: 2px 2px 0px rgba(200, 200, 200, .5);
}

/* COMMON END */

/* HEADER START */
div.header-wrap {
    border-bottom: 1px solid #dadada;
}

div.header-wrap>div.wrap {
    width: 1000px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HEADER END */

/* MENU START */
div.menu-wrap {
    border-bottom: 1px solid #dadada;
}

div.menu-wrap>.wrap {
    width: 1000px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.menu-wrap>.wrap span.menu-separator {
    color: #c5c5c5;
}

/* MENU END */

/* HOME START */
div.home-wrap {
    margin: 50px 0;
}

div.home-wrap>.wrap {
    width: 1000px;
    margin: 0 auto;
}

/* HOME END */

/* SIGNUP START */
div.signup-wrap {
    margin: 50px 0;
}

div.signup-wrap>.wrap {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

/* SIGNUP END */

/* SIGNIN START */
div.signin-wrap {
    margin: 50px 0;
}

div.signin-wrap>.wrap {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

/* SIGNIN END */

/* MODIFY START */
div.modify-wrap {
    margin: 50px 0;
}

div.modify-wrap>.wrap {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

/* MODIFY END */

/* TODO WRITE START */
div.todo-write-wrap {
    margin: 50px 0;
}

div.todo-write-wrap>.wrap {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

/* TODO WRITE END */

/* TODO LIST START */
div.todo-list-wrap {
    margin: 50px 0;
}

div.todo-list-wrap>.wrap {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

/* TODO LIST END */

/* TODO MOD DEL START */
div.todo-mod-del-wrap {
    margin: 50px 0;
}

div.todo-mod-del-wrap>.wrap {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

/* TODO MOD DEL END */

/* FOOTER START */
div.footer-wrap {
    border-top: 1px solid #dadada;
    background-color: #242424;
    color: #e9e9e9;
    font-size: .9em;
}

div.footer-wrap>.wrap {
    width: 1000px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FOOTER END */